.mainheader{
    display: flex;
    height: 50px;
    background-color: darkblue;

    width: 110%;
}

.header1{
    max-height: 25px;
    margin-top: 8px;
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-left: 20px;
}

.header2{
    max-height: 23px;
    margin-top: 9px;
    background-color: ghostwhite;
    padding: 2px;
    
}

.header3{
    color: white;
    margin-top:8px;
    margin-left: 400px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.header4{
    color: white;
    margin-top: 8px;
    margin-left: 50px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
.header5{
    max-height: 20px; 
    margin-top: 15px;
    margin-left: 40px; 

}

.header6{
   max-height: 25px; 
   margin-top: 8px;
   margin-left: 20px;
}

.header7{
    display: none;
}