.home{
    display:flex;
    flex-direction: column;
    /* border: 2px solid green; */
    background-color:white;
    position: absolute;
   

}

.sides{
    display: flex;
    width: 150%;
    

}
.leftbody{
    /* display: flex;
    flex-direction: column;

    flex: 0.5; */
    /* justify-content: top; */
    position: fixed;
    /* z-index: -1; */

}

.body{
    display: flex;
    flex: 0.5;
    flex-direction: column;

    /* justify-content: center; */
    margin-left: 33%;
    /* width: 100%; */
}

.rightbody{
    margin-top: 3.7%;
    margin-left: 73%;
    width: 350px;
    position: fixed;
    /* padding-left: 5%; */
    z-index: -1;
    /* height:550px; */
}

.home1{
    padding-left: 20px;
    font-weight: bold;
    font-size: 17px;
    /* padding-top: 20px; */
    z-index: -1;
    /* position: fixed  ; */
}

.home2{
    vertical-align: middle;
    max-height: 23px;
    margin-top: 9px;
    background-color: ghostwhite;
}

.home3{
    vertical-align: middle;
    margin: 10px;
    color: blue;


}

.home4{
    vertical-align: middle;
    margin-top: 10px;
}

.home5{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50px;
    display: inline;
}

.home6{

    padding:10px;
    font-weight: bold;
    
}

.home7{
    /* position: relative; */
    background-color: #edf2f7;
   
    margin: 20px;
    margin-top: 50px;
    /* padding:20px 20px; */
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    
    
}




.home10{
    height: 30px;
    width: 30px;
    /* border: 2px solid black; */
    border-radius: 50px;
    /* display: inline; */
}

.home11{

    padding:10px;
    font-weight: bold;
}

.home9{
    /* background-color: #edf2f7; */
    border: 1px solid #edf2f7;
    margin-left: 20px;
    margin-top: 3px;
    /* padding:20px 20px; */
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    
}

.home12{
    height: 10px;
    width: 10px;
    margin-top: 22.5px;
    position: absolute;
    left: 53px;
}

.home13{
    /* position: fixed; */
    margin-left: 310%;
    height: 200px;
    width: 320px;
    /* border: 2px solid black; */
    /* padding: 10px; */
    border-radius: 10px;
}

.home14{
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: small;
    font-weight: bold;
}
.home15{
    padding-left: 10px;
    padding-bottom: 15px;
    font-weight: bold;
    color: blue;
    font-size: large;
}

.home16{
    height: 450px;
    overflow-y: scroll; 
    border: 2px solid #edf2f7;
}

.home17{
    margin-top: 25px;
    position: fixed;
    width: 26%;
    border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.home18{
    display: none;
}