.home{
    display:flex;
    flex-direction: column;

    background-color:white;
    position: absolute;

}

.sides{
    display: flex;

}
.leftbody{
    /* display: flex;
    flex-direction: column;

    flex: 0.5; */
    /* justify-content: top; */
    position: fixed;
    /* z-index: -1; */

}

.body{
    display: flex;
    flex: 0.5;
    flex-direction: column;

    justify-content: center;
    margin-left: 60%;
    width: 100%;
}

.rightbody{
    margin-top: 20%;
    margin-left: 10%;
    /* display: flex;
    flex: 0.25;*/
}

.home1{
    padding-left: 20px;
    font-weight: bold;
    font-size: 17px;
    padding-top: 20px;
    z-index: -1;
    /* position: fixed  ; */
}

.home2{
    vertical-align: middle;
    max-height: 23px;
    margin-top: 9px;
    background-color: ghostwhite;
}

.home3{
    vertical-align: middle;
    margin-top: 10px;
    color: blue;

}

.home4{
    vertical-align: middle;
    margin-top: 10px;
}