.modal-background{
    background:rgba(255, 251, 251, 0.6);
    /* opacity: 0.5; */
    display: flex; 
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border:  20px solid red; */

}

.modal-container{
    /* border: 20px solid green; */
    display: flex;
    height: 80%;
    width: 80%;
    background: transparent;
    opacity: 1;
}

.commentdiv{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    /* border: 2px solid yellow; */
    width: 100%;
}
.coment{
    /* border: 2px solid blue; */
    background-color: rgb(255, 251, 251);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-left: 25px;
}
