

.modal-background{
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* border: 10px solid #73AD21; */
    background:rgba(249, 248, 248, 0.8); 
}

.modal-container{
    /* border: 2px solid green; */
    display: flex;
    height: 80%;
    /* flex:1; */
    /* margin-bottom:80%; */
    width: 80%;
    /* background: transparent; */
    /* opacity: 1; */
    /* position: fixed; */
    /* justify-content: space-around; */
    margin-top: 10vh;
    margin-left: 10vw;
    background: white;

}

.commentdiv{
    display: flex;
    flex: 1;

    /* justify-content: space-around; */
    flex-direction: row;
    border: 2px solid rgb(211, 208, 208);
    /* width: 2100px; */
    background-color:"white";
    border-radius:2%;
    margin-left: -115px;

}
.coment{
    /* border: 2px solid blue; */
    background-color: rgb(255, 251, 251);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-left: 25px;
}

.modal1{
    background-color: #f5f3f0;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.modal2{
    padding-left: 20px; 
    font-weight: bold; 
    color: blue;
}

.modal3{
    padding-left: 20px;
    margin-top: 5px;
}

.modal4{
    height: 100%;
    width: 80%;
    border-radius: 2%;
    margin-left: 3%;
}

.modal5{
    width: 100%;
    border-radius: 4px; 
    margin: 10px 20px;
}

.modal6{
    position: fixed;
    top: 46;
    right: 66;
    height: 30;
    width: 30;
    border-radius: 45;
    background-color: black;
    color: white;
    border: none;
}

.modal7{
    font-weight: bold;
    margin-left: 20px;
}