.post1{
    padding-left: 20px;
    font-weight: bold;
    color: blue; 
}

.post2{
    padding-left: 20px;
    margin-top: 5px;
}

.postbody{
    display: flex;    
    flex: 1;
    flex-direction: column;
    background-color: #edf2f7;
    /*  */
    margin-top: 25px;
    margin-left: 8%;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    /* border: 2px solid black; */
}

.post3{

    background-color: #edf2f7;
    width: 100%;
    /* height: 40px; */
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
    padding: 5px;
    /* font-weight: bold; */
}

.post4{
    border: none;
    font-weight: bold;
    color: blue;
    background-color: transparent;
    margin-right: 2px;
}

.post5{
    height: auto;
    background-color: red;
    border-radius: 3px;
    width: 600px;
    /* border :2px solid red; */
}
.post6{
    border: none;
    width: 150px;
    height: 50px;
    background-color: transparent;
    margin-right: 80px;
}

.post7{
    padding-left: 20px;
    font-weight: bold;
    color: blue;
    border: 0.5px solid grey;
    border-radius: 20px;
    height: 50px;
    width: 40%;
}

.post8{
    padding-left: 30px;
    margin-top: 5px;
    border: 0.5px solid grey;
    border-radius: 20px;
    height: 50px;
    width: 70%;
}

.post9{
    border: 0.5px solid grey;
    margin: 10px;
    padding: 13px;
    font-weight: bold;
    border-radius: 20px;
}

.post10{
    background-color: white;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    
}

.post11{
    border: none;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin: 20px 0px;
    height: 60px; 
}
.post12{
    /* border: 2px solid red; */
    height: 40px;
    width: 30px;
    margin: 0px 15px;
}

.post13{
    height: 25px;
    margin: 20px 10px 10px 5px;
}

.post14{
    background-color: transparent
}

.post15{
    height: 25px;
}
.post16{
    margin: 0px 10px;
    font-weight: bold;
}